:root {
	--black: #28252a;
	--dgray: #242126;
	--gray:  #342e37;
	--white: #ebfff7;
	--green: #67bb3a;
	--blue:  #3c91e6;
	--red:   #e63946;
	font-family: 'Sans-serif';
	font-size: 15px;
}

body {
	background: var(--black);
	color: var(--white);
	
	display: flex;
	justify-content: center;
}

body > div {
	background: var(--gray);
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
	box-shadow: 0 0 20px var(--dgray);
}

.header {
	margin: 0 0 10px;
	display: flex;
	justify-content: space-between;
}

.header > div {
	display: flex;
	align-items: center;
}

p#points {
	margin: 0 20px 0 0;
	min-width: 50px;
	text-align: right;
}

button {
	background-color: var(--white);
	outline: none;
	border: none;
	color: var(--black);
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
}

h1 {
	margin: 0;
	font-family: 'Georgia';
	text-shadow: 1px 1px 1px var(--blue),
				 2px 2px 1px var(--blue);
}

/* the div with the id "board" */
#board {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 10px;
}

.card {
	box-shadow: 0 0 10px var(--black);
	border-radius: 5px;
	border: 7px solid var(--dgray);
}

.card:hover {
	box-shadow: 0 0 10px var(--white);
}

.card[state='UP']			{ border: 7px solid var(--blue);  }
.card[state='CORRECT']		{ border: 7px solid var(--green); }
.card[state='INCORRECT']	{ border: 7px solid var(--red);	  }
